<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Janari Altdorf, veebiprogrammeerimine</title>
</head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse banner">
  <h1> Janari Altdorf, veebiprogrammeerimine</h1>
  <p> See leht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning ei sisalda tõsiseltvõetavat sisu!</p>
  <hr>
  <ul>
    <li><a href ="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2>Eesti film</h2>
  <ul>
    <li><a href="/eestifilm/inimesed">Eesti filmiinimesed</a></li>
	<li><a href="/eestifilm/inimesed_add">Eesti filmiinimeste lisamine</a></li>
	<li><a href="/eestifilm/filmid">Eesti filmid</a></li>
	<li><a href="/eestifilm/filmid_add">Eesti filmide lisamine</a></li>
	<li><a href="/eestifilm/ametid">Filmivaldkonna ametid</a></li>
  </ul>
</body>
</html>
