<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Janari Altdorf, veebiprogrammeerimine</title>
</head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse banner">
  <h1> Janari Altdorf, veebiprogrammeerimine</h1>
  <p> See leht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning ei sisalda tõsiseltvõetavat sisu!</p>
  <hr>
  <ul>
	<li><a href ="/signup">Kasutajakonto loomine</a></li>
    <li><a href ="/timenow">Ajainfo</a></li>
	<li><a href ="/vanasonad">Vanasõnad</a></li>
	<li><a href ="/visits">Külastuste nimekiri</a></li>
	<li><a href ="/eestifilm">Eestifilm</a></li>
	<li><a href ="/galleryphotoupload">Galeriisse fotode üleslaadimine</a></li>
	<li><a href ="/photogallery">Fotogalerii</a></li>
	<li><a href ="/news">Uudised</a></li>
  </ul>
  <% if (pilt) { %>
    <img src="/watermark/<%= pilt.filename %>" alt="<%= pilt.alttext %>">
  <% } else { %>
    <p>Uusimat avalikku pilti ei leitud.</p>
  <% } %>
</body>
</html>
