<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Janari Altdorf, veebiprogrammeerimine</title>
  <link rel="stylesheet" href="/style/gallery.css">
  <script src="/script/gallery.js" defer ></script>
</head>
<body>
  <img src="../images/vp_banner_2025_TA.jpg" alt="kursuse banner">
  <h1> Janari Altdorf, veebiprogrammeerimine</h1>
  <p> See leht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning ei sisalda tõsiseltvõetavat sisu!</p>
  <hr>
  <ul>
    <li><a href ="/">Avaleht</a></li>
  </ul>
  <hr>
  <!-- Dialoogiaken normaalsuuruses fotode näitamiseks -->
  <dialog id="modal" class="modalarea">
    <span id="modalClose" class="modalclose">&times;</span>
	<div class="modalhorizontal">
	  <div class="modalvertical">
	    <p id="modalCaption"></p>
		<img id="modalImage" src="/images/empty.png" alt="galeriipilt">
	  </div>
    </div>
  </dialog>
  <h2>Loo kasutajakonto</h2>
  <form method="POST">
    <label for="firstNameInput">Sisesta oma eesnimi: </label>
    <input type="text" id="firstNameInput" name="firstNameInput" placeholder="Eesnimi ..." required>
	<br>
	<label for="lastNameInput">Sisesta oma perekonnanimi: </label>
    <input type="text" id="lastNameInput" name="lastNameInput" placeholder="Perekonnanimi ..." required>
	<br>
	<label for="birthDateInput">Sisesta sünnikuupäev: </label>
	<input type="date" id="birthDateInput" name="birthDateInput" required>
	<br>
	<input type="radio" id="genderInput1" name="genderInput" value="1" checked>
	<label for="genderInput1">Mees</label>
	<br>
	<input type="radio" id="genderInput2" name="genderInput" value="2">
	<label for="genderInput2">Naine</label>
	<br>
	<label for="emailInput">E-mail (kasutajatunnuseks)</label>
	<input type="email" id="emailInput" name="emailInput" placeholder="Sinu e-mail ...." required>
	<br>
	<label for="passwordInput">Salasõna (min 8 märki)</label>
	<input type="password" id="passwordInput" name="passwordInput" required>
	<br>
	<label for="confirmPasswordInput">Korda salasõna</label>
	<input type="password" id="confirmPasswordInput" name="confirmPasswordInput" required>
	<br>
	<input type="submit" id="userSubmit" name="userSubmit" value="Loo kasutajakonto">
  </form>
  <p><%= notice %></p>  
</body>
</html>
